.light-bg {
  background: #f0e1f9;
}

.primary-border {
  border: 2px solid #c263fd;
}

.primary-b-border {
  border-bottom: 2px solid #c263fd;
}

.primary-r-border {
  border-right: 2px solid #c263fd;
}

.primary-shadow {
  box-shadow:
    0 0 10px #c263fd,
    0 0 5px white;
}

.dark-bg {
  background: #1b002c;
}
